body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: hsl(220, 60%, 50%);
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
}

label {
  color: hsl(0, 0%, 20%);
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: hsl(200, 70%, 50%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

#result {
  color: #2980b9;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
